services:
  novel:
    container_name: novel
    image: sgrtye/novel:latest
    restart: no
    ports:
      - 8008:80
    networks:
      - novel
    volumes:
      - cache:/cache:rw
      - ${NOVEL_CONFIG_PATH}:/config:ro
    environment:
      - TZ=${TZ}
      - SCRAPER_KEY=${SCRAPER_KEY}
      - TELEBOT_TOKEN=${TELEBOT_TOKEN}
      - TELEBOT_USER_ID=${TELEBOT_USER_ID}

volumes:
  cache:

networks:
  novel:
    driver: bridge