services:
  s-ui:
    container_name: s-ui
    image: alireza7/s-ui:latest
    hostname: ${SUI_HOSTNAME}
    restart: unless-stopped
    networks:
      - s-ui
    volumes:
      - ${SUI_DATABASE_PATH}:/app/db:rw
    environment:
      - TZ=${TZ}

  shadowgate:
    container_name: shadowgate
    image: sgrtye/shadowgate:latest
    restart: unless-stopped
    ports:
      - 8088:80
    networks:
      - s-ui
    volumes:
      - ${WEBSITE_PATH}:/website:ro
      - ${CONFIG_FILES_PATH}:/conf:rw
      - ${LOG_FILES_PATH}:/logs:rw
    environment:
      - TZ=${TZ}
      - SUI_TOKEN=${SUI_TOKEN}
      - MITCE_URL=${MITCE_URL}
      - PROXY_HOST=${PROXY_HOST}
      - PROXY_PORT=${PROXY_PORT}
      - PROXY_PATH=${PROXY_PATH}
      - HOST_DOMAIN=${HOST_DOMAIN}

networks:
  s-ui:
    driver: bridge