services:
  apiserver:
    container_name: apiserver
    image: sgrtye/apiserver:latest
    restart: unless-stopped
    ports:
      - 8888:80
    networks:
      - apiserver
    volumes:
      - cache:/cache:rw
    environment:
      - TZ=${TZ}
      - SUI_URL=${SUI_URL}
      - SUI_TOKEN=${SUI_TOKEN}
volumes:
  cache:

networks:
  apiserver:
    driver: bridge