services:
  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser:s6
    restart: unless-stopped
    ports:
      - 8800:80
    networks:
      - filebrowser
    volumes:
      - ${FILEBROWSER_FILE_PATH}:/srv:rw
      - ${FILEBROWSER_SETTING_PATH}:/config:rw
      - ${FILEBROWSER_DATABASE_PATH}:/database:rw
    environment:
      - TZ=${TZ}

networks:
  filebrowser:
    driver: bridge