services:
  uptimekuma:
    container_name: uptimekuma
    image: louislam/uptime-kuma:2-slim
    restart: unless-stopped
    ports:
      - 3001:3001
    networks:
      - uptimekuma
    volumes:
      - ${UPTIMEKUMA_DATA_PATH}:/app/data:rw
networks:
  uptimekuma:
    driver: bridge