services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - homepage
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${HOMEPAGE_CONFIG_PATH}:/app/config:rw
      - ${HOMEPAGE_IMAGE_PATH}:/app/public/images:ro
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}

networks:
  homepage:
    driver: bridge